html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  font-family: "monaco", monospace;
  font-size: 1.5em;
  padding: 0.5em;
  margin-left: 1em;
  margin-right: 1em;
}


a {
  text-decoration: none;
  color: black;
  padding: 0.5em;
}

a:hover {
  color: darkred;
  text-decoration: underline;
}

body {
  height: 100%;
  background: rgb(250, 235, 215);
  background: linear-gradient(203deg, rgba(250, 235, 215, 1) 50%, rgba(255, 62, 247, 0.35) 100%);
  /* background: repeating-linear-gradient(45deg, #f3f3f3, #f3f3f3 10px, #e5e5e5 10px, #e5e5e5 20px); */
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.logo:hover {
  scale: 1.05;
  transition: 0.2s linear;
}

.aboutcontainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  padding: 5em;
  margin: 2em;
}

.aboutinfocontainer {
  display: flex;
  flex-direction: column;
}

.personalpicture {
  display: block;
  max-width: 100%;
  height: auto;
  margin-bottom: 2em;
}

.contact {
  display: flex;
  justify-content: left;
  align-items: center;
  padding: 0.2em;
}

.contactlink {
  display: flex;
  align-items: center;
  font-family: "monaco", monospace;
  font-size: 1em;
}

.contactlink:hover {
  text-decoration: none;
}

.abouttextcontainer {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.abouttext {
  width: 30vw;
  font-size: 1.1em;
  /* font-family: "Roboto Flex", sans-serif; */
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  word-spacing: 0.1em;

}

#interactieve {
  transition: 0.2s linear;
}


#interactieve:hover {
  text-shadow: 0 0 6px #d8115a8e;
}

footer {
  display: flex;
  justify-content: end;
  padding: 1em;
  margin: 1em;
}

.iconstext {
  color: hsla(0, 0%, 36%, 1);
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  word-spacing: 0.1em;
}

.iconslink {
  color: hsla(0, 0%, 36%, 1);
  text-decoration: underline;
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    font-size: 1.2em;
  }

  #navlink {
    text-decoration: underline;
  }

  .aboutcontainer {
    flex-direction: column;
    padding: 3em 2em;
    margin: 2em 1em;
  }

  .contactcontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .abouttext {
    width: 80vw;
    font-size: 1em;
    text-align: center;
  }

  .personalpicture {
    max-width: 60vw;
    margin-bottom: 2em;
  }

  .abouttextcontainer {
    align-items: center;
  }

  .contactlink {
    font-size: 0.9em;
  }

  footer {
    justify-content: center;
    text-align: center;
    flex-direction: column;
  }
}

@media (max-width: 480px) {
  nav {
    font-size: 1em;
    padding: 0.5em 1em;
  }

  .abouttext {
    font-size: 0.95em;
  }

  .contact {
    flex-direction: column;
    align-items: flex-start;
  }

  .contactlink {
    margin-bottom: 0.5em;
  }

  .personalpicture {
    width: 60vw;
  }

  .aboutcontainer {
    padding: 2em 1em;
  }

  .iconstext {
    font-size: 0.9em;
  }
}