nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  font-family: "monaco", monospace;
  font-size: 1.5em;
  padding: 0.5em;
  margin-left: 1em;
  margin-right: 1em;
}

a {
  text-decoration: none;
  color: black;
  padding: 0.5em;
}

a:hover {
  color: darkred;
  text-decoration: underline;
}

body {
  background: #faebd7;
  background: linear-gradient(203deg, #faebd7 40%, #ff3ef759 100%);
  /* background: repeating-linear-gradient(45deg, #f3f3f3, #f3f3f3 10px, #e5e5e5 10px, #e5e5e5 20px); */
  background-repeat: no-repeat;
  background-attachment: fixed;

}

html {
  margin: 0px;
  height: 100%;
  width: 100%;
}

body {
  margin: 0px;
  min-height: 100%;
  width: 100%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1em;
}

p {
  font-family: "Roboto Flex", sans-serif;
}

.logo:hover {
  scale: 1.05;
  transition: 0.2s linear;
}

.navp {
  font-size: 1.5em;
}

.introtext {
  font-size: 1.2em;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.introtextabout {
  font-size: 1.2em;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.introtitle {
  margin-top: -0.02em;
  margin-bottom: 0.2em;
  font-size: 8em;
  /* font-family: "Roboto Flex", system-ui; */
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;

  text-shadow: 0 0 10px rgb(255, 255, 255);
  transition: 0.3s;
}

.introtitle:hover {
  /* text-shadow: 0px -10px 100px rgba(0, 255, 255, 0.5), 20px 10px 0 rgba(255, 0, 0, 0.5); */
  text-shadow: 0px -10px 100px #F7E997, 20px 10px 0 #d8115a8e;

}

/* .contactandskills {
  padding: 4.5em;
  margin: 4.5em;
} */

.contactandskills {
  padding-top: 4.5em;
  margin-top: 4.5em;
}

.contactcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -0.3em;
  margin-bottom: 2.5em;
}

.contacttext {
  font-family: "Roboto Flex", sans-serif;
  color: hsla(0, 0%, 36%, 0.8);
  font-size: 1em;
}

.contacticon {
  transition: 0.2s ease-in-out;
}

.contacticon:hover {
  transform: scale(1.15);
  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); */
}

.tooltip {
  position: relative;
  display: inline-block;
}

.tooltiptext {
  font-family: "Josefin Sans", sans-serif;
  visibility: hidden;
  width: 120px;
  color: hsla(0, 0%, 36%, 1);
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;
  position: absolute;
  z-index: 1;
  bottom: -50%;
  left: 50%;
  margin-left: -60px;
  opacity: 0;
  transition: opacity 0.2s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: -10%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoDiv {
  display: flex;
  justify-content: center;
  padding: 1em;
}

.skillscontainer {
  width: 100%;
  text-align: center;
}

/* .skills {
  position: absolute;
  bottom: 0;
  display: flex;
  flex-direction: row;
} */

.skillstext {
  font-family: "Roboto Flex", sans-serif;
  color: hsla(0, 0%, 36%, 1);
  font-size: 1em;
}

.skillsicon {
  transition: 0.2s ease-in-out;
}

.skillsicon:hover {
  transform: scale(1.15);
  /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); */
}

@media (max-width: 768px) {
  nav {
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
    font-size: 1.2em;
  }

  a {
    text-decoration: underline;
  }

  .introtitle {
    font-size: 3em;
    text-align: center;
  }

  .introtext,
  .introtextabout {
    font-size: 1em;
    padding: 0 1em;
    text-align: center;
  }

  .contactandskills {
    padding-top: 2em;
    margin-top: 2em;
  }

  .contactcontainer,
  .skillscontainer {
    width: 100%;
    padding: 1em;
  }

  .contacticon,
  .skillsicon {
    width: 50px;
    height: 50px;
  }

  .tooltiptext {
    font-size: 0.9em;
  }

  .videoDiv {
    flex-direction: column;
    padding: 1em 0.5em;
  }

  .skills {
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
  }
}

/* Extra aanpassing voor mobiel */
@media (max-width: 480px) {
  nav {
    font-size: 1em;
    padding: 0.5em 1em;
  }

  .introtitle {
    font-size: 2.5em;
  }

  .contacticon,
  .skillsicon {
    width: 40px;
    height: 40px;
  }

  .tooltiptext {
    width: 100px;
    font-size: 0.8em;
  }
}